.title-author {
  font-size: .6em;
  font-weight: 100;
}

.mdl-navigation .octicon {
  font-size: 20px;
}

.mdl-card {
  width: auto;
}

.search-result-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.mdlx-chip--icon {
  line-height: 44px;
}
